@font-face {
  font-family: "iconfont"; /* Project id 2547582 */
  src: url('iconfont.woff2?t=1662175357902') format('woff2'),
       url('iconfont.woff?t=1662175357902') format('woff'),
       url('iconfont.ttf?t=1662175357902') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e604";
}

.icon-qunliao:before {
  content: "\100c0";
}

.icon-wodexuanzhong:before {
  content: "\e625";
}

.icon-wode1:before {
  content: "\e635";
}

.icon-sound-off:before {
  content: "\e616";
}

.icon-qiehuanxiangji:before {
  content: "\e619";
}

.icon-switch-camera:before {
  content: "\e615";
}

.icon-guaduan1:before {
  content: "\e7a4";
}

.icon-qiehuanyuyin:before {
  content: "\e70a";
}

.icon-jingyin:before {
  content: "\e7f5";
}

.icon-guaduan:before {
  content: "\e677";
}

.icon-wode:before {
  content: "\e614";
}

.icon-wo:before {
  content: "\e613";
}

.icon-zuojiantou:before {
  content: "\e65a";
}

.icon-wodequnliao:before {
  content: "\e61a";
}

.icon-wodequnliaox:before {
  content: "\e67d";
}

.icon-wodequnliao1:before {
  content: "\e61b";
}

.icon-new:before {
  content: "\e612";
}

.icon-shuangjiantou-copy:before {
  content: "\e611";
}

.icon-shang:before {
  content: "\e629";
}

.icon-chaguanbi:before {
  content: "\e624";
}

.icon-xiaoxi:before {
  content: "\e60f";
}

.icon-nvxing:before {
  content: "\e60c";
}

.icon-nanxing:before {
  content: "\e63a";
}

.icon-tongxinyuan:before {
  content: "\e651";
}

.icon-shipindianhua:before {
  content: "\e622";
}

.icon-shipindianhua1:before {
  content: "\e608";
}

.icon-shipindianhua2:before {
  content: "\e609";
}

.icon-Iconxianxingshipindianhua:before {
  content: "\e60a";
}

.icon-shipindianhua3:before {
  content: "\e6dc";
}

.icon-jiandao:before {
  content: "\e60d";
}

.icon-liaotianjilu:before {
  content: "\e681";
}

.icon-folder:before {
  content: "\e64f";
}

.icon-folder1:before {
  content: "\e602";
}

.icon-folder_icon:before {
  content: "\e603";
}

.icon-wenjianjia:before {
  content: "\e607";
}

.icon-xiaolian:before {
  content: "\e601";
}

.icon-caidan:before {
  content: "\e60b";
}

.icon-toggle:before {
  content: "\e600";
}

.icon-pingbi:before {
  content: "\e62f";
}

.icon-pingbi1:before {
  content: "\e61d";
}

.icon-shield:before {
  content: "\e61c";
}

.icon-pingbi2:before {
  content: "\e6d4";
}

.icon-pingbi3:before {
  content: "\e672";
}

.icon-chahao:before {
  content: "\e606";
}

.icon-cha1:before {
  content: "\e633";
}

.icon-sousuo:before {
  content: "\e610";
}

.icon-sousuo1:before {
  content: "\e605";
}

.icon-jia:before {
  content: "\e659";
}

.icon-jia1:before {
  content: "\e620";
}

.icon-qunfaxinxi:before {
  content: "\e671";
}

.icon-tongxunlu:before {
  content: "\e6c2";
}

.icon-tongxunlu2:before {
  content: "\e6ae";
}

.icon-tongxunlu3:before {
  content: "\e6af";
}

.icon-xinxi:before {
  content: "\e623";
}

.icon-weibiaoti-:before {
  content: "\e60e";
}

